
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let h of hero" (click)="onSelect(h)" [class.selected]="h === selectedHero">
    <span class="badge">{{ h.id }}</span> {{ h.name }}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>